.log_table{
    margin-bottom: 0px !important;
    display: flex;
    flex-flow: column;
    width: 100%;
}
.log-thead{
    background: #016918;
    flex: 0 0 auto;
}
.log-thead tr{
    width: 100%;
    display: table;
    table-layout: fixed;
}
.log-thead tr th{
    color: #333333 !important;
    padding: 5px;
    background: white;
}
.log-tbody{
    color:black !important;
    flex: 1 1 auto; 
    display: block; 
    max-height: 70vh; 
    overflow-x: hidden; 
    overflow-y: scroll;
}
.log-tbody tr{
    width: 100%;
    display: table;
    table-layout: fixed;
    font-size: 1.2rem;
}

#daftar_faktur2 > tr > td{
    font-size: 12px !important;
    border: none;
}